{% extends 'base.html' %}

{% block content %}

<h2>3D plots</h2>
  <div>
    <img src="3d_hulls.svg" download alt="3d_hulls">
  </div>

  <div>
    <a href="3d_hulls.svg" target="_blank" rel="noopener noreferrer" download class="btn btn-default">
      Download SVG
    </a>
  </div>



<h2>Convex Hulls by group</h2>
  <div>
    <img src="group_hulls.svg" alt="group_hulls">
  </div>

  <div>
    <a href="group_hulls.svg" target="_blank" rel="noopener noreferrer" download class="btn btn-default">
        Download SVG
    </a>
  </div>

  <div>
    <a href="group_hulls.tsv" target="_blank" rel="noopener noreferrer" download class="btn btn-default">
      Download TSV
    </a>
  </div>


<h2>Convex Hulls by individual</h2>
  <div>
    <img src="indiv_hulls.svg" alt="group_hulls">
  </div>

  <div>
    <a href="indiv_hulls.svg" target="_blank" rel="noopener noreferrer" download class="btn btn-default">
        Download SVG
    </a>
  </div>

  <div>
    <a href="indiv_hulls.tsv" target="_blank" rel="noopener noreferrer" download class="btn btn-default">
      Download TSV
    </a>
  </div>

{% endblock %}