{% extends 'base.html' %}

{% block content %}

<div class="row">
  3d convex hull plot
</div>
      <div class="text-center">
        <img src="3d_hulls.svg"/>
        <div>
          <a href="3d_hulls.svg" target="_blank" rel="noopener noreferrer" class="btn btn-default">
            Download SVG
          </a>
        </div>
      </div>
  </div>

<div class="row">
  Convex Hulls by group and time
</div>
      <div class="text-center">
        <img src="group_hulls.svg"/>
        <div>
          <a href="group_hulls.svg" target="_blank" rel="noopener noreferrer" class="btn btn-default">
            Download SVG
          </a>
        </div>
      </div>
  </div>


<div class="row">
  Convex Hulls by individual
</div>
      <div class="text-center">
        <img src="indiv_hulls.svg"/>
        <div>
          <a href="indiv_hulls.svg" target="_blank" rel="noopener noreferrer" class="btn btn-default">
            Download SVG
          </a>
        </div>
      </div>
  </div>

{% endblock %}